.App {
  text-align: center;
}


h1{
position: relative;
top: 45vh;
left: 45vw;
text-align: center;
height: 10vh;
width: 10vw;

}

@media (prefers-reduced-motion: no-preference) {
  h1{
    animation: element-spin infinite 2s linear;
  }
}


@keyframes element-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
